body{
	background-image: url(../img/bg.jpg);
	color: white;
}
.box{
	border: 1px solid white;
}

.header{
	background-color: black;
	height: 5%;
	padding-top: 0.85%;
}

.contentbody{
	margin-top: 20px;
}

.title{
	font-size: 90px;
	font-family: Courier New;
}